<div class="layout-footer">
    <a id="footerlogolink">
        <img id="footer-logo" style="height: auto; width: 1.5em" [src]="'assets/layout/images/logo.png'"
            alt="posedion-layout" />
        Universidad de las Fuerzas Armadas - ESPE {{ test | date : "yyyy" }}
    </a>
    <div class="social-icons">
        <img alt="miespe" style="
                height: auto;
                width: 1.5em;
            " src="assets/layout/images/MiESPE-favicon.png" />
        versión {{ version }} &copy; Todos los derechos reservados.
    </div>
</div>