<div>
  <ng-container *ngIf="subPrograma; else loadingTemplate">
    <app-generic-view
      [loading]="loading"
      [title]="'Detalle Subprograma'"
      [subtitle]="'Visualizando Subprograma: ' + (subPrograma?.codigo || '')"
      [icon]="'pi pi-layer-group'"
      [fields]="viewFields"
      (cancel)="onCancel()"
      [showCancelButton]="true">

      <!-- Espacio visual -->
      <hr style="border: none; border-top: 2px solid #2e7d32; margin: 1.5rem 0;">

      <!-- Lista de proyectos relacionados -->
      <app-proyecto-list [codigoSubPrograma]="subPrograma?.id"></app-proyecto-list>

    </app-generic-view>
  </ng-container>

  <ng-template #loadingTemplate>
    <app-spinner *ngIf="loading"></app-spinner>
  </ng-template>
</div>